# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Idea #
.idea
*.iml

# Gradle #
.gradle
!gradle-wrapper.jar
.gradletasknamecache

# Build #
build/
out/
version.json

# js #
node_modules

/rest-api-service/src/main/resources/static